<% if logged_in? %>

  <div class="row">
    <aside class="col-sm-4">
      <%= render 'tasks/form', task: @task %>
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/index', tasks: @tasks %>
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>